In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('lung_cancer.csv')

In [3]:
df

,Age,Gender,Smoking,Yellow_Fingers,Anxiety,Peer_Pressure,Chronic_Disease,Fatigue,Allergy,Wheezing,Alcohol_Consuming,Coughing,Shortness_of_Breath,Swallowing_Difficulty,Chest_Pain,Lung_Cancer
0,45,Male,1,1,0,0,0,1,0,1,1,1,0,0,1,YES
1,60,Female,0,0,1,0,1,1,1,1,0,1,1,0,1,NO
2,52,Male,1,1,1,1,0,0,0,0,1,1,1,1,1,YES
3,33,Female,0,0,0,0,0,0,0,0,0,0,0,0,0,NO
4,41,Male,1,1,1,1,0,1,1,1,1,1,1,0,1,YES
5,65,Male,1,1,1,0,1,1,0,1,1,1,1,1,1,YES
6,58,Female,0,0,0,0,0,1,1,1,0,0,1,0,0,NO
7,29,Female,0,0,0,0,0,0,0,0,0,0,0,0,0,NO
8,49,Male,1,1,1,1,1,1,1,1,1,1,1,1,1,YES
9,72,Male,1,1,1,1,1,1,1,1,0,1,1,1,1,YES
10,54,Female,0,0,0,0,1,1,0,1,1,1,0,0,1,NO
11,61,Male,1,1,1,1,1,1,1,1,1,1,1,1,1,YES
12,38,Female,0,0,1,0,0,0,0,0,0,0,0,0,0,NO
13,67,Male,1,1,0,0,1,1,1,1,1,1,1,1,1,YES
14,43,Male,1,1,1,1,0,1,1,1,1,1,1,0,1,YES
15,50,Female,0,0,0,0,0,0,0,0,0,0,0,0,0,NO
16,56,Female,0,0,0,0,1,1,0,1,0,0,1,0,1,NO
17,47,Male,1,1,1,1,1,1,1,1,1,1,1,1,1,YES
18,34,Female,0,0,0,0,0,0,0,0,0,0,0,0,0,NO
19,69,Male,1,1,1,1,1,1,1,1,1,1,1,1,1,YES

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    20 non-null     int64
 1   Gender                 20 non-null     object
 2   Smoking                20 non-null     int64
 3   Yellow_Fingers         20 non-null     int64
 4   Anxiety                20 non-null     int64
 5   Peer_Pressure          20 non-null     int64
 6   Chronic_Disease        20 non-null     int64
 7   Fatigue                20 non-null     int64
 8   Allergy                20 non-null     int64
 9   Wheezing               20 non-null     int64
 10  Alcohol_Consuming      20 non-null     int64
 11  Coughing               20 non-null     int64
 12  Shortness_of_Breath    20 non-null     int64
 13  Swallowing_Difficulty  20 non-null     int64
 14  Chest_Pain             20 non-null     int64
 15  Lung_Cancer            20 non-null     object
dtypes: int64(14), object(2)
memory usage: 2.6+ KB

In [6]:
df.describe()

,Age,Smoking,Yellow_Fingers,Anxiety,Peer_Pressure,Chronic_Disease,Fatigue,Allergy,Wheezing,Alcohol_Consuming,Coughing,Shortness_of_Breath,Swallowing_Difficulty,Chest_Pain
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.00000,20.000000,20.000000
mean,51.150000,0.550000,0.550000,0.550000,0.400000,0.500000,0.700000,0.500000,0.700000,0.550000,0.65000,0.65000,0.400000,0.700000
std,12.499579,0.510418,0.510418,0.510418,0.502625,0.512989,0.470162,0.512989,0.470162,0.510418,0.48936,0.48936,0.502625,0.470162
min,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000
25%,42.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000
50%,51.000000,1.000000,1.000000,1.000000,0.000000,0.500000,1.000000,0.500000,1.000000,1.000000,1.00000,1.00000,0.000000,1.000000
75%,60.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000
max,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000

In [7]:
(df.isnull().sum())

Age                      0
Gender                   0
Smoking                  0
Yellow_Fingers           0
Anxiety                  0
Peer_Pressure            0
Chronic_Disease          0
Fatigue                  0
Allergy                  0
Wheezing                 0
Alcohol_Consuming        0
Coughing                 0
Shortness_of_Breath      0
Swallowing_Difficulty    0
Chest_Pain               0
Lung_Cancer              0
dtype: int64

In [9]:
df['Gender']= df['Gender'].map({'male': 0, 'female': 1})

In [4]:
df['Age'].value_counts()

Age
45    1
60    1
34    1
47    1
56    1
50    1
43    1
67    1
38    1
61    1
54    1
72    1
49    1
29    1
58    1
65    1
41    1
33    1
52    1
69    1
Name: count, dtype: int64